TERMINAL_CMS_HOST=cms.example-terminal.test
TERMINAL_WEB_HOST=blog.example-terminal.test
TERMINAL_WEB_ORIGIN=https://blog.example-terminal.test

FOLIO_CMS_HOST=cms.example-folio.test
FOLIO_WEB_HOST=blog.example-folio.test
FOLIO_WEB_ORIGIN=https://blog.example-folio.test

OLIVE_CMS_HOST=cms.example-olive.test
OLIVE_WEB_HOST=blog.example-olive.test
OLIVE_WEB_ORIGIN=https://blog.example-olive.test

DEV_D1_ID=
TERMINAL_D1_ID=
FOLIO_D1_ID=
OLIVE_D1_ID=
