TERMINAL_CMS_HOST=cms.example-terminal.test
TERMINAL_WEB_HOST=blog.example-terminal.test
TERMINAL_WEB_ORIGIN=https://blog.example-terminal.test
TERMINAL_WEB_DRAFT_HOST=blog-draft.example-terminal.test
TERMINAL_WEB_DRAFT_ORIGIN=https://blog-draft.example-terminal.test

FOLIO_CMS_HOST=cms.example-folio.test
FOLIO_WEB_HOST=blog.example-folio.test
FOLIO_WEB_ORIGIN=https://blog.example-folio.test
FOLIO_WEB_DRAFT_HOST=blog-draft.example-folio.test
FOLIO_WEB_DRAFT_ORIGIN=https://blog-draft.example-folio.test

OLIVE_CMS_HOST=cms.example-olive.test
OLIVE_WEB_HOST=blog.example-olive.test
OLIVE_WEB_ORIGIN=https://blog.example-olive.test
OLIVE_WEB_DRAFT_HOST=blog-draft.example-olive.test
OLIVE_WEB_DRAFT_ORIGIN=https://blog-draft.example-olive.test

DEV_D1_ID=
TERMINAL_D1_ID=00000000-0000-0000-0000-000000000000
FOLIO_D1_ID=00000000-0000-0000-0000-000000000000
OLIVE_D1_ID=00000000-0000-0000-0000-000000000000
